pkgbase = linux-surfacebook
	pkgver = 4.9.0
	pkgrel = 1
	url = http://www.kernel.org/
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = libelf
	options = !strip
	source = https://www.kernel.org/pub/linux/kernel/v4.x/linux-4.9.tar.xz
	source = https://www.kernel.org/pub/linux/kernel/v4.x/linux-4.9.tar.sign
	source = config
	source = config.x86_64
	source = 99-linux.hook
	source = linux.preset
	source = change-default-console-loglevel.patch
	source = multitouch.patch
	source = wifi.patch
	source = touchscreen.patch
	source = ipts_fw_config.bin
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = 029098dcffab74875e086ae970e3828456838da6e0ba22ce3f64ef764f3d7f1a
	sha256sums = SKIP
	sha256sums = 2ac8818414beb7dbacbd3ad450c516e6ada804827132a7132f63b8189e5f5151
	sha256sums = c9c4529cdf7a6bd3d9a4863202160721419d10397a2f1186def8325ba660ed02
	sha256sums = 834bd254b56ab71d73f59b3221f056c72f559553c04718e350ab2a3e2991afe0
	sha256sums = ad6344badc91ad0630caacde83f7f9b97276f80d26a20619a87952be65492c65
	sha256sums = 1256b241cd477b265a3c2d64bdc19ffe3c9bbcee82ea3994c590c2c76e767d99
	sha256sums = c523cb5848603d76723f4344b64045b5894bdb213b63cd87703917d875923857
	sha256sums = e8ed95070745a8d7060a126e952e23f0959c4533f24ac45029a63c6a7c33b412
	sha256sums = 79bb85be69f388b8ac5a7dc75678e54fb09a544aef96c728e847a844e7a3de2a
	sha256sums = eed5c04a5f8841d52292fbb321990c79316ce98cd21324c71226cdc95cc20d09

pkgname = linux-surfacebook
	pkgdesc = The Linux-surfacebook kernel and modules
	install = linux.install
	depends = coreutils
	depends = linux-firmware
	depends = kmod
	depends = mkinitcpio>=0.7
	optdepends = crda: to set the correct wireless channels of your country
	backup = etc/mkinitcpio.d/linux-surfacebook.preset

pkgname = linux-surfacebook-headers
	pkgdesc = Header files and scripts for building modules for Linux-surfacebook kernel

pkgname = linux-surfacebook-docs
	pkgdesc = Kernel hackers manual - HTML documentation that comes with the Linux-surfacebook kernel

